:root {
    --font-size: 20px;
    --color: #00985A;
    --gutter: calc(var(--font-size)*1.5);
    --polaroid-margin-top: 2rem;
    --polaroid-margin-bottom: 8rem;
    --polaroid-margin-right: 2rem;
    --polaroid-margin-left: 2rem;
}

@media (min-width: 600px) {
    :root {
        --font-size: 32px;
    }
}



body {
    font-family: sans-serif;
    font-size: var(--font-size);
    padding-top: calc(var(--gutter)*1);
    padding-bottom: calc(var(--gutter)*2);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color:var(--color);
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--gutter)*2);
    background-color: hsl(163, 81%, 72%);
    height: 100vh; 
}

/* hero */


.content_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: top;
    gap:16px;
}


.grid_left{
    width:30%;
    position: fixed;
    border:solid;
    border-color:black;
    padding:60px;
    background-color: white;
    max-height: 80vh;
}

.grid_right{
    max-width:60%;
    padding:40px;
    margin-left:40vw;
}


img{
    margin-top:36px;
    display: block;
    aspect-ratio: 1 / 1;
	object-fit: cover;
    width:500px;
}

/* polaroid effect */
.polaroid {
    margin-top: var(--polaroid-margin-top);
    margin-bottom: var(--polaroid-margin-bottom);
    margin-top: var(--polaroid-margin-top);
    margin-top: var(--polaroid-margin-top);
    background: white;
}



/* fonts */

h1 {
    color: #00985A(0, 0, 0);
    font-size: calc(var(--font-size)*2.5);
    font-weight: 700;
}

aside {
    color: #00985A(0, 0, 0);
    font-size: calc(var(--font-size)*1);
    width:100%;
    font-weight: 400;
}


p{
    font-size: 18px ;
    margin-top:calc(var(--font-size)*1.5);
    color: #00985A(0, 0, 0);
    width:100%;
    line-height: 32PX;
}

#channel-link{
    color:aliceblue;
    text-decoration: none;
    padding:8px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 100deg;
    background-color:rgb(255, 148, 17) ;
}

/* .block style*/

.container{
    border:black;
    border-color: black;
    border-width:1.5px;
    border-style:solid;
    display: grid;
    gap:40px;
    padding:20px;
    width:50vw;
}

.blocks {
    display: grid;
    aspect-ratio: 1 / 1;
    gap: 40px;
    align-items: left;
    max-width:50%;
}



/* .block font */


.block--link {
    color: rgb(177, 33, 255);
}

.date{
    color:#00985A;
}

.container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 10px;
}



.block--text{
    color:red;
}

p + p {
    margin-top:1em;
    margin-bottom: 50px;
}


/* tablet media query */
@media (min-width: 640px) {
}